{% extends 'base.html' %}

{% block title %}Dashboard | Pastahane{% endblock %}
{% block page_title %}Dashboard{% endblock %}
{% block breadcrumb %}Dashboard{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-3 col-6">
    <div class="small-box bg-info">
      <div class="inner">
        <h3>{{ toplam_satis }}</h3>
        <p>Toplam Satış</p>
      </div>
      <div class="icon"><i class="fas fa-shopping-cart"></i></div>
      <a href="/satis" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="col-lg-3 col-6">
    <div class="small-box bg-success">
      <div class="inner">
        <h3>{{ kasa_bakiye }} ₺</h3>
        <p>Kasa Bakiyesi</p>
      </div>
      <div class="icon"><i class="fas fa-money-bill"></i></div>
      <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="col-lg-3 col-6">
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>{{ toplam_urun }}</h3>
        <p>Toplam Ürün</p>
      </div>
      <div class="icon"><i class="fas fa-birthday-cake"></i></div>
      <a href="/urun" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="col-lg-3 col-6">
    <div class="small-box bg-danger">
      <div class="inner">
        <h3>{{ toplam_malzeme }}</h3>
        <p>Toplam Malzeme</p>
      </div>
      <div class="icon"><i class="fas fa-boxes"></i></div>
      <a href="/malzemeler" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-list mr-2"></i>Son Satışlar</h3>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Ürün</th>
              <th>Adet</th>
              <th>Fiyat</th>
              <th>Tarih</th>
            </tr>
          </thead>
          <tbody>
            {% for s in son_satislar %}
            <tr>
              <td>{{ s.urun_adi }}</td>
              <td>{{ s.adet }}</td>
              <td>{{ s.fiyat }} ₺</td>
              <td>{{ s.tarih }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-success">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-boxes mr-2"></i>Düşük Stok Uyarısı</h3>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Ürün</th>
              <th>Stok</th>
            </tr>
          </thead>
          <tbody>
            {% for u in dusuk_stok %}
            <tr>
              <td>{{ u.urun_adi }}</td>
              <td><span class="badge badge-danger">{{ u.stok }}</span></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}